/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  /* Défini le fond clair par défaut */
  color: #000;
  /* Texte noir pour le mode clair */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mode sombre */
body.dark-mode {
  background-color: #000000;
  color: #fff;
}

/* Header */
header {
  display: flex;
  align-items: center; /* Aligne verticalement */
  justify-content: space-between; /* Met un espace entre le h1 et le bouton */
  padding: 20px;
  color: black;
}

body.dark-mode header {
  background-color: #000000;
}

header h1 {
  margin: 0; 
  font-size: 2em;
  color: rgb(250, 182, 93);
}

/* Bouton de bascule */
button.mode-toggle {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  transition: background-color 0.3s ease;
}

button.mode-toggle {
  margin: 0; /* Supprime la marge supplémentaire */
}

button.mode-toggle:hover {
  background-color: #ddd;
}

body.dark-mode button.mode-toggle {
  background-color: #444;
  color: #fff;
}

body.dark-mode button.mode-toggle:hover {
  background-color: #666;
}

/* Sections principales */
.main {
  padding: 30px;
}

.about {
  text-align: center;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: lighter;
}

.about p {
  text-align: center;
}

/* Contact */
.contact {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.contact p {
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: #ffffff;
}

.contact i {
  margin-right: 8px;
  color: #807e7e;
  font-size: 1.2em;
}

.contact i:hover {
  color: burlywood;
}

/* Galerie */
.gallery {
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  float: left;
  margin: 10px;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
  font-family: 'Courier New', Courier, monospace;
}

body.dark-mode .gallery-item {
  color: #ffffff;
  background-color: #100f0f;
}

.gallery-item img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  padding: 30px;
}

.gallery-item img:hover {
  animation: bounce 0.6s ease-in-out;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }

  30% {
    transform: scale(1.1) translateY(-10px);
  }

  50% {
    transform: scale(1.05) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

/* Services */
.services {
  padding: 25px;
  text-align: center;
}

body.dark-mode .services li {
  color: #ffffff;
  background-color: #100f0f;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
}

.services p {
  text-align: center;
}

.services ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services li {
  margin: 10px;
  padding: 15px 35px;
  background-color: rgb(228, 228, 228);
  color: #000000;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

.services li:hover {
  background-color: rgb(250, 182, 93);
  color: #000;
  cursor: pointer;
  border: 1px solid #000000;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

body.dark-mode .services li:hover {
  background-color: rgb(250, 182, 93);
  color: #000;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
}

#nature,
#evenement,
#portraits,
#retouche {
  cursor: cell;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #000000;
  background-color: rgb(250, 182, 93);
  ;
}
.copyright{
  text-align: center;
}
body.dark-mode footer {
  color: #ffffff;
  background-color: #000000;
}

/* Titres */
h1,
h2,
h3 {
  color: #fff;
  font-size: 30px;
  text-decoration: underline;
}

h1,
h2 {
  text-decoration-style: wavy;
  color: rgb(250, 182, 93);
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

p {
  margin: 40px;
  text-align: justify;
}

/* Slider */
.slider {
  position: relative;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.slider img {
  padding:50px;
  height:500px; /* Garde les proportions */
  margin: auto; /* Centre l'image */
}


/* Boutons */
#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 50px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
/* boutons slide */
#precedent {
  left: 10px;
}

#suivant {
  right: 10px;
}

.slider:hover #precedent,
.slider:hover #suivant {
  opacity: 1;
}

/* Cache toutes les images sauf celle active */
.slide {
  display: none;
}

.slide.active {
  display: block;
}

/* Texte "Chargement en cours" */
#loading-text {
  font-size: 20px;
  font-weight: bold;
  color: rgb(250, 182, 93);
  margin-bottom: 35px; /* Espacement entre le texte et la barre */
}

/* Loader plein écran */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Conteneur de la barre */
.progress-container {
  width: 50%;
  height: 20px;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Barre de progression */
.progress-bar {
  height: 100%;
  width: 0%;
  background: rgb(250, 182, 93);;
  transition: width 0.2s ease-in-out;
}

/* Texte du pourcentage */
#progress-text {
  font-size: 50px;
  font-weight: bold;
  color: rgb(250, 182, 93);;
}


/* Responsive */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .gallery-item {
    width: 100%;
  }
}