/* Styles généraux */
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:18px;
  background-color: #fff;
  /* Défini le fond clair par défaut */
  color: #000;
  /* Texte noir pour le mode clair */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mode sombre */
body.dark-mode {
  background-color: #000000;
  color: #fff;
}

/* Header */
header {
  background-color: rgb(250, 182, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: black;
}

body.dark-mode header {
  background-color: #000000;
}

header h1 {
  text-decoration: none;
  padding: 15px;
  margin: 0;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

/* Bouton de bascule */
button.mode-toggle {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  transition: background-color 0.3s ease;
}

button.mode-toggle {
  border-radius: 25px;
  margin: 0;
}

button.mode-toggle:hover {
  background-color: #0c0c0c;
  color: #fff;
}

body.dark-mode button.mode-toggle {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode button.mode-toggle:hover {
  background-color: #d7d4d4;
}

body.dark-mode header {
  color: #000000;
  background-color: rgb(250, 182, 93);
}

/* Effet machine à écrire */
.Typewriter.startTypewriter {
  animation: typewriter 3s steps(20) forwards;
  animation-delay: 0s;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20%;
  }
}

.Typewriter {
  color: black;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  display: inline-block;
}

/* Curseur clignotant après l'animation */
.Typewriter::after {
  content: "|";
  color: black;
  display: inline-block;
  margin-left: 5px;
  animation: blink 0.8s infinite;
}

body.dark-mode .Typewriter::after {
  color: black;
}

/* Animation du clignotement */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Sections principales */
.main {
  padding: 30px;
}

.about {
  text-align: center;
  margin: 15px;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: lighter;
}

.about p {
  text-align: center;
}

/* Contact */
.contact {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.contact p {
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: #ffffff;
}

.contact i {
  margin-right: 8px;
  color: #807e7e;
  font-size: 1.2em;
}

.contact i:hover {
  color: burlywood;
}

/* Galerie */
.gallery {
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  float: left;
  margin: 10px;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 letter-spacing: 2px;

}

body.dark-mode .gallery-item {
  color: #ffffff;
  background-color: #100f0f;
}

.gallery-item img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  padding: 30px;
}

.gallery-item img:hover {
  animation: bounce 0.6s ease-in-out;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }

  30% {
    transform: scale(1.1) translateY(-10px);
  }

  50% {
    transform: scale(1.05) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

/* Effet au clic */
.lightbox.active {
  display: flex;
}

/* Services */
.services {
  padding: 25px;
  text-align: center;
}

body.dark-mode .services li {
  color: #ffffff;
  background-color: #100f0f;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
}

.services p {
  text-align: center;
  max-width: 800px; 
  margin: 0 auto; 
  line-height: 1.6; 
}

.services ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.services li {
  margin: 10px;
  padding: 15px 35px;
  background-color: rgb(228, 228, 228);
  color: #000000;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

.services li:hover {
  background-color: rgb(250, 182, 93);
  color: #000;
  cursor: pointer;
  border: 1px solid #000000;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

body.dark-mode .services li:hover {
  background-color: rgb(250, 182, 93);
  color: #000;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.425);
}

#nature,
#evenement,
#portraits,
#retouche {
  cursor: cell;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  color: #000000;
  background-color: rgb(250, 182, 93);
  ;
}

.copyright {
  text-align: center;
  font-size: 20px;
}

body.dark-mode footer {
  color: #000000;
}

/* Titres */
h1,
h2,
h3 {
  color: #fff;
  font-size: 30px;
  text-decoration: underline;
}

h1,
h2 {
  text-decoration-style: dotted;
  color: rgb(250, 182, 93);
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

p {
  margin: 20px;
  text-align: justify;
}


/* Slider */
.slider {
  position: relative;
  width: 500px;
  margin: 100px auto 0 auto;
  display: flex;
  align-items: center;
}


.slider img {
  height: 500px;
  margin: auto;
}


/* Boutons */
#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 50px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* boutons slide */
#precedent {
  left: 10px;
}

#suivant {
  right: 10px;
}

.slider:hover #precedent,
.slider:hover #suivant {
  opacity: 1;
}

/* Cache toutes les images sauf celle active */
.slide {
  display: none;
}

.slide.active {
  display: block;
}

/* Texte "Chargement en cours" */
#loading-text {
  font-size: 20px;
  font-weight: bold;
  color: rgb(250, 182, 93);
  margin-bottom: 35px;
}

/* Loader plein écran */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Conteneur de la barre */
.progress-container {
  width: 50%;
  height: 20px;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Barre de progression */
.progress-bar {
  height: 100%;
  width: 0%;
  background: rgb(250, 182, 93);
  ;
  transition: width 0.2s ease-in-out;
}

/* Texte du pourcentage */
#progress-text {
  font-size: 50px;
  font-weight: bold;
  color: rgb(250, 182, 93);
  ;
}


/* Responsive | Ecrans */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  header h1 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .Typewriter {
    font-size: 1.7em;
    text-align: center;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }


  /* Ajustement de l'effet machine à écrire */
  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 100%;/
    }
  }

  .gallery-item {
    width: 100%;
    margin: 15px 0;
  }

  .services ul {
    flex-direction: column;
  }

  .contact {
    max-width: 100%;
    padding: 20px;
  }

  .slider {
    width: 100%;
    margin: 30px 0;
  }

  .slider img {
    height: auto;
    width: 80%;
  }

  footer {
    font-size: 12px;
  }

  #modeToggle {
    margin-top: 10px;
    align-self: center;
  }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .Typewriter {
    font-size: 1.5em;
    text-align: center;
    max-width: 100%;
  }

  header {
    padding: 20px;

  }

  .gallery-item {
    width: 45%;
  }

  .services ul {
    justify-content: space-between;
  }

  .slider {
    width: 80%;
  }

  footer {
    font-size: 14px;
  }

}

/* Grand écran */
@media (min-width: 1025px) {
  .gallery-item {
    width: 45%;
  }

  .services ul {
    justify-content: center;
  }

  footer {
    font-size: 16px;
  }
}